@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:wght@300;400;500&display=swap');
::-webkit-scrollbar {
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
    font-weight: 400;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background: linear-gradient(0deg, rgba(6, 59, 75, 0.65) 0%, rgba(6, 59, 75, 0.65) 100%), url('../images/background.jpg'), lightgray 50% / cover no-repeat;
}
.container{
    margin: auto;
    width: 1336px;
}
.header{
    padding: 0 245px;
    width: 100%;
    height: 85px;
    background-color: #087FA5;
    display: flex;
    align-items: center;
    gap: 53px;
    justify-content: space-around;
}
.icon{
    width: 85px;
    height: 85px;
    background: url('../images/icons/logo.svg');
}
.links{
    width: 532px;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 50px;
}
.search {
    border-radius: 21px;
    border: 1px solid white;
    width: 340px;
    color: #3A3A3A;
    padding: 10px;
}
.join{
    display: flex;
    gap: 50px;
    background: rgba(0, 0, 0, 0.10);
    padding: 29px 28.5px;
}
.blocks{
    margin-top:34px;
    background-color: #ACD7E4;
    border-radius: 15px 15px 0 0;
    display: flex;
    /*height: 638px;*/
    gap: 50px;
    padding: 60px 34px 0 34px;
    flex-direction: column;
    padding-bottom: 62px;
}
.cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.card{
    border-radius: 14px;
    width: 310px;
    height: 190px;
    display: flex;
    flex-direction: column-reverse;
}
.title{
    color: #000;
    margin-bottom: 15px;
}
.card_title{
    color: white;
}
.card_info{
    display: flex;
    padding: 0 8px;
    border-radius: 0px 0px 14px 14px;
    background: rgba(12, 20, 41, 0.50);
    align-items: center;
    justify-content: space-between;
}
.card_open{
    display: flex;
    border-radius: 51px;
    padding:9.5px 14.5px ;
    background: rgba(48, 101, 238, 0.25);
}
.footer{
    display: flex;
    width: 100%;
    height: 202px;
    background: rgb(34,43,46);
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}
.footer_text{
    color: rgba(255, 255, 255, 0.59);
    font-size: 16px;
    font-weight: 400;
}
.middle{
    text-align: center;
    text-transform: uppercase;
}
.game-block{
    display: flex;
    gap: 40px;
    padding-bottom: 12px;
}
.game-left{
    width: 530px ;
    height: 380px;
    border-radius: 10px 10px 0 0;
}
.game-right{
    width: calc(100% - 570px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.game-title{
    font-size: 32px;
}
.game-description{
    color: #3A3A3A;
    font-size: 24px;
}
.review{
    color:white;
    background-color: rgb(20,96,114);
    height: fit-content;
    border-radius: 0 0 10px 10px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review div span{
    font-size: 22px;
}
.sell div span{
    font-size: 22px;
}
.sell{
    background-color: rgb(20,96,114);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    border-radius:10px;
    color:white;
}
.buy{
    margin-left: 10px;
    cursor: pointer;
    background-color: #48739DFF;
    border: 5px solid #48739DFF;
    color: rgba(255, 255, 255, 0.86);
    border-radius: 5px;

}
.buy:hover{
    color:white;
    background-color: #48889d;
    border: 5px solid #48889d;
}

